<div class="container mx-auto">
    <h1 class="text-xl font-semibold mb-4">Sistema de Calificación</h1>

    <!-- Botón para agregar otro sistema de calificación -->
    <div class="mb-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Agregar Sistema de Calificación
        </button>
    </div>

    <div class="mt-5">
        <!-- Acordeón principal: NIVEL 1-->
        @for (rating of ratings; track rating.nivel) {
        <div class="border border-gray-300 rounded-md mb-4">
            <!-- Botón del acordeón NIVEL 1 -->
            <button (click)="toggleRanking(rating)"
                class="w-full text-left px-4 py-3 text-gray-900 font-semibold bg-gray-100 hover:bg-gray-200 rounded-md focus:outline-none focus:ring transition duration-300 flex flex-wrap items-center">
                <h2 class="text-lg font-bold text-gray-900 mr-6">{{ rating.descripcion }}</h2>
                <p class="mr-4 flex items-center">
                    <span class="ml-2 px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded">{{ rating.tipo
                        }}</span>
                </p>
                <p class="mr-4"><strong>Base:</strong> {{ rating.base }}</p>
                <p class="mr-4"><strong>Máximo:</strong> {{ rating.maximo }}</p>
                <p class="mr-4 flex items-center">
                    <span class="ml-2 px-2 py-1 bg-green-100 text-green-800 text-xs font-semibold rounded">{{
                        rating.fechaInicio }}</span>
                </p>
                <p class="mr-4 flex items-center">
                    <span class="ml-2 px-2 py-1 bg-red-100 text-red-800 text-xs font-semibold rounded">{{
                        rating.fechaFin }}</span>
                </p>
            </button>

            <!-- Contenido oculto/visible  NIVEL 1-->
            <div [hidden]="!rating.open" class="px-4 pt-2 pb-4 bg-gray-50">
                <!-- Acordeón secundario: NIVEL 2 -->
                @for (level2 of rating.level2; track level2.nivel) {
                <div class="border border-gray-200 rounded-md mb-2">
                    <!-- Botón del acordeón NIVEL 2 -->
                    <button (click)="toggleRanking2(level2)"
                        class="w-full text-left px-4 py-3 text-gray-900 font-semibold bg-gray-100 hover:bg-gray-200 rounded-md focus:outline-none focus:ring transition duration-300 flex flex-wrap items-center">
                        <h2 class="text-lg font-bold text-gray-900 mr-6">{{level2.descripcion }}</h2>
                        <p class="mr-4 flex items-center">
                            <span class="ml-2 px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded">{{
                                rating.tipo
                                }}</span>
                        </p>
                        <p class="mr-4"><strong>Base:</strong> {{ level2.base }}</p>
                        <p class="mr-4"><strong>Máximo:</strong> {{ level2.maximo }}</p>
                        <p class="mr-4 flex items-center">
                            <span class="ml-2 px-2 py-1 bg-green-100 text-green-800 text-xs font-semibold rounded">{{
                                level2.fechaInicio }}</span>
                        </p>
                        <p class="mr-4 flex items-center">
                            <span class="ml-2 px-2 py-1 bg-red-100 text-red-800 text-xs font-semibold rounded">{{
                                level2.fechaFin }}</span>
                        </p>
                    </button>
                    <div [hidden]="!level2.open" class="px-4 pt-2 pb-4 bg-gray-50">

                        <!-- Acordeón secundario: NIVEL 3 -->
                        @for (level3 of level2.level3; track level3.nivel) {
                        <!-- Contenido oculto/visible NIVEL 2-->

                        <div class="border border-gray-200 rounded-md mb-2">
                            <!-- Botón del acordeón NIVEL 3 -->
                            <button (click)="toggleRanking3(level3)"
                                class="w-full text-left px-4 py-3 text-gray-900 font-semibold bg-gray-100 hover:bg-gray-200 rounded-md focus:outline-none focus:ring transition duration-300 flex flex-wrap items-center">
                                <h4 class="text-md font-semibold text-gray-800 mr-4">{{ level3.descripcion }}</h4>
                                <p class="mr-4 flex items-center">
                                    <span
                                        class="ml-2 px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded">{{
                                        level3.tipo }}</span>
                                </p>
                                <p class="mr-4"><strong>Base:</strong> {{ level3.base }}</p>
                                <p class="mr-4"><strong>Máximo:</strong> {{ level3.maximo }}</p>
                            </button>

                            <div [hidden]="!level3.open" class="px-4 py-2 bg-white border-t border-gray-200">

                                @for (level4 of level3?.level4; track level4.nivel) {
                                <div class="flex flex-wrap">
                                    <h5 class="text-md font-semibold text-gray-800 mr-4">{{ level4.descripcion }}</h5>
                                    <p class="mr-4"><strong>Base:</strong> {{ level4.base }}</p>
                                    <p class="mr-4"><strong>Máximo:</strong> {{ level4.maximo }}</p>
                                </div>
                                }

                            </div>
                        </div>


                        }
                    </div>


                </div>

                }

            </div>

        </div>

        }
    </div>
    <!--
    <div class="overflow-x-auto">
        <div *ngFor="let rating of ratings">


            <div class="ml-0 p-4" *ngIf="rating.nivel === 'Primero'">
                <div class="flex flex-wrap items-center">
                    <h2 class="text-lg font-bold text-gray-900 mr-6">{{ rating.descripcion }}</h2>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded">{{ rating.tipo }}</span>
                    </p>
                    <p class="mr-4"><strong>Base:</strong> {{ rating.base }}</p>
                    <p class="mr-4"><strong>Máximo:</strong> {{ rating.maximo }}</p>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-green-100 text-green-800 text-xs font-semibold rounded">{{ rating.fechaInicio }}</span>
                    </p>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-red-100 text-red-800 text-xs font-semibold rounded">{{ rating.fechaFin }}</span>
                    </p>
                </div>
            </div>
            
            
            <div class="ml-8 p-1" *ngIf="rating.nivel === 'Segundo'">
                <div class="flex flex-wrap items-center">
                    <h3 class="text-md font-semibold text-gray-800 mr-10">{{ rating.descripcion }}</h3>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-blue-100 text-blue-800 text-xs font-semibold rounded">{{
                            rating.tipo }}</span>
                    </p>
                    <p class="mr-4"><strong>Base:</strong> {{ rating.base }}</p>
                    <p class="mr-4"><strong>Máximo:</strong> {{ rating.maximo }}</p>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-green-100 text-green-800 text-xs font-semibold rounded">{{
                            rating.fechaInicio }}</span>
                    </p>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-red-100 text-red-800 text-xs font-semibold rounded">{{
                            rating.fechaFin }}</span>
                    </p>
                </div>
            </div>
            
            
            <div class="ml-12 p-4" *ngIf="rating.nivel === 'Tercero'">
                <div class="flex flex-wrap items-center">
                    <h4 class="text-md font-semibold text-gray-800 mr-4">{{ rating.descripcion }}</h4>
                    <p class="mr-4 flex items-center">
                        <span class="ml-2 px-2 py-1 bg-yellow-100 text-yellow-800 text-xs font-semibold rounded">{{
                            rating.tipo }}</span>
                    </p>
                    <p class="mr-4"><strong>Base:</strong> {{ rating.base }}</p>
                    <p class="mr-4"><strong>Máximo:</strong> {{ rating.maximo }}</p>
                </div>
            </div>
            
            
            <div class="ml-20 p-4" *ngIf="rating.nivel === 'Cuarto'">

                <div class="flex flex-wrap">
                    <h5 class="text-md font-semibold text-gray-800 mr-4">{{ rating.descripcion }}</h5>
                    <p class="mr-4"><strong>Base:</strong> {{ rating.base }}</p>
                    <p class="mr-4"><strong>Máximo:</strong> {{ rating.maximo }}</p>
                </div>
            </div>
        </div>
    </div>
    
    -->

</div>