<section class="grid grid-cols-2 h-screen">
    <div class="bg-red-50 h-full relative">
        <app-backgraund></app-backgraund>
        <p class="absolute inset-0 flex items-center justify-center font-handwriting text-2xl text-black pl-20 pr-14">
      Los desafíos son lo que hacen que la vida sea interesante y superarlos es lo que hace que la vida tenga sentido
    </p>
    </div>
    <div class="flex flex-col justify-center items-center h-full bg-orange-200">
        <div>
            <p class="text-3xl font-bold">Formulario de Registro</p>
        </div>
        <app-register></app-register>
    </div>
</section>