<div class="bg-white p-5 mx-5 rounded-lg shadow">
    <h1 class="text-xl font-bold text-gray-900 mb-3">Matematicas</h1>
    <div>
        <p class="text-lg text-gray-800 font-semibold mb-3">Tema 1</p>
        <div class="grid grid-cols-4 gap-x-4 gap-y-4">
            <p class="font-semibold">
                Descripcion
            </p>
            <p class="col-span-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="font-semibold">
                Materia
            </p>
            <p class="col-span-3">dassssssssssssssssssssssssssssssss</p>
        </div>
        <div class="bg-gray-100 border rounded-lg p-5 my-3">
            <p class="mb-3 font-bold">Actividad</p>
            <div class=" grid grid-cols-4 gap-4 ">
                <p>Description activity</p>
                <p class="font-bold col-span-3">Activo</p>
            </div>
        </div>

    </div>
</div>
