<div>
    <section>
        <h1 class="text-xl font-bold text-gray-900 mb-3">{{ materia.materia }}</h1>
    </section>

    <!-- Componente de tabs dinámicas -->
    <ui-tabs [tabs]="tabs" (tabChange)="onTabChange($event?.data)">
        <ng-template #tabContentTemplate let-data="data">
            <div>
                <!-- Acordeón generado dinámicamente según la unidad seleccionada -->
                <app-acordeon [items]="accordionItems" [singleOpen]="false">
                    <!-- Iteración explícita de las plantillas -->
                    <ng-container *ngFor="let item of accordionItems; let i = index">
                        <ng-template>
                            <a>Holaaaa - Sección {{ i + 1 }}</a>
                        </ng-template>
                    </ng-container>
                </app-acordeon>
            </div>
        </ng-template>
    </ui-tabs>
</div>