<div class="select-g" (clickOutside)="closeDropdown()">
    <!-- Mostrar el label sólo si labelText no está vacío -->
    <label *ngIf="labelText" [for]="id" class="block text-sm font-medium text-darkGray">
        {{ labelText }}
    </label>
    <div class="select-box" (click)="toggleDropdown()">
        <!-- Utilizar placeholderText para el placeholder -->
        <span *ngIf="!selectControl.value" class="placeholder">{{ placeholderText }}</span>
        <span *ngIf="selectControl.value" class="selected-item">{{ selectControl.value.name }}</span>
        <span class="icon">
            <svg
                    class="shrink-0 size-3.5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            >
                <path d="m7 15 5 5 5-5"></path>
                <path d="m7 9 5-5 5 5"></path>
            </svg>
        </span>
    </div>


    <ul *ngIf="dropdownOpen" class="dropdown">
        <input class="search-input" [(ngModel)]="searchTerm" (input)="handleSearchTermChange(searchTerm)" placeholder="Buscar...">
        <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
            {{ option.name }}
        </li>
    </ul>

    <div *ngIf="sendform && errorMessage" class="text-red-500 text-sm mt-1">
        {{ errorMessage }}
    </div>
</div>