<div class="w-full p-3 rounded-lg bg-gray-50 border shadow-sm">
    <!-- Cabecera con el título de la asignación -->
    <h1 class="text-2xl font-bold text-gray-900 mb-4">{{ asignacion.nombre }}</h1>

    <!-- Descripción de la asignación -->
    <p class="text-gray-700 mb-4">{{ asignacion.descripcion }}</p>

    <!-- Detalles de la asignación -->
    <div class="mb-6">
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Fecha de
                Inicio:</strong> {{ asignacion.fechaInicio }} {{ asignacion.horaInicio }}
        </p>
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Fecha de Fin:</strong> {{ asignacion.fechaFin }} {{ asignacion.horaFin }}
        </p>
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Nota Máxima:</strong> {{ asignacion.notaMax }}
        </p>
    </div>

    <!-- Documentos -->
    <div class="mb-6">
        @if (asignacion.documentos.length > 0) {
            <ul class="list-disc list-inside text-gray-700">
                @for (doc of asignacion.documentos; track doc.id) {
                    <li>
                        {{ doc.nombre }}
                    </li>
                }
            </ul>
        }
    </div>
</div>


<!-- Entrega del Estudiante -->
<div class="mb-6">
    <h2 class="text-lg font-semibold text-gray-900 mb-2">Datos de entrega</h2>
    <p class="text-sm text-gray-600">
        <strong class="text-gray-800">Estudiante:</strong> {{ asignacion.entregaEst.nombresEstudiante }}
    </p>
    <p class="text-sm text-gray-600">
        <strong class="text-gray-800">Estado:</strong>
        <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium"
              [ngClass]="{' bg-green-100 text-green-800 dark:bg-green-800/30 dark:text-green-500':
              asignacion.entregaEst.nota, ' bg-red-100 text-red-800 dark:bg-red-800/30 dark:text-red-500':
              !asignacion.entregaEst.nota}">
        {{ asignacion.entregaEst.nota ? 'Calificado' : 'No Calificado' }}
    </span>
    </p>
    @if (asignacion.entregaEst.nota) {
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Nota:</strong> {{ asignacion.entregaEst.nota }}
        </p>
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Comentario:</strong> {{ asignacion.entregaEst.contenido }}
        </p>
    }

    @if (asignacion.entregaEst.documentos.length > 0) {
        <p class="text-sm text-gray-600">
            <strong class="text-gray-800">Fecha de
                Entrega:</strong> {{ asignacion.entregaEst.fechaEntrega }} {{ asignacion.entregaEst.horaEntrega }}
        </p>
    }


    <!-- Documentos enviados por el estudiante -->
    <h3 class="text-md font-semibold text-gray-800 mt-4 mb-2">Documentos del Estudiante</h3>
    @if (asignacion.entregaEst.documentos.length > 0) {
        <ul class="list-disc list-inside text-gray-700">
            @for (doc of asignacion.entregaEst.documentos; track doc.id) {
                <li>
                    {{ doc }}
                </li>
            }
        </ul>
    } @else {
        <p class="text-gray-600">No hay documentos entregados.</p>
    }


</div>