<div class="flex flex-col">
    <div class="flex flex-row">
        <!-- Área del fondo -->
        <div class="w-4/6 h-screen hidden lg:block">
            <ui-background>
                <!-- Contenido para el fondo -->
                <ng-content select="[background-content]"></ng-content>
            </ui-background>
        </div>

        <!-- Área de contenido principal -->
        <div class="w-full lg:w-1/2 h-screen overflow-y-auto">
            <ng-content select="[main-content]"></ng-content>
        </div>
    </div>
</div>