<div class="relative w-full h-full bg-gradient-to-br from-primary to-secondary area">
    <!-- Fondo animado -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- Contenido proyectado encima del fondo -->
    <div class="absolute inset-0 flex items-center justify-center z-10">
        <ng-content></ng-content>
    </div>
</div>