<div class="container mx-auto mt-5">
  <h1 class="text-xl font-semibold mb-4">Toma de Asistencia</h1>

  <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="fecha" class="block text-sm font-medium text-gray-700">Seleccione la fecha:</label>
      <input type="date" id="fecha" formControlName="fecha" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>

    <div class="mt-4">
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Cargar Asistencias</button>
    </div>
  </form>

  <div *ngIf="asistencias.length > 0; else noRecords" class="mt-5">
    <h2 class="text-lg font-bold mb-4">Detalle de Asistencias</h2>
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cédula</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombres</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Apellidos</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Observaciones</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let asistencia of asistencias">
          <td class="px-6 py-4 text-sm text-gray-900">{{ asistencia.cedulaEstudiante }}</td>
          <td class="px-6 py-4 text-sm text-gray-900">{{ asistencia.nombresEstudiante }}</td>
          <td class="px-6 py-4 text-sm text-gray-900">{{ asistencia.apellidosEstudiante }}</td>
          <td class="px-6 py-4 text-sm text-gray-900">{{ asistencia.estado }}</td>
          <td class="px-6 py-4 text-sm text-gray-900">{{ asistencia.observaciones }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noRecords>
    <div class="mt-5">
      <p class="text-lg font-bold text-red-500">No existen registros para ese día.</p>
    </div>
  </ng-template>
</div>