<ui-toast #toast></ui-toast>
<div class=" w-full">
    <div *ngIf="currentStep === 1" class="w-full">
        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-1">Información Personal</h3>
        <form [formGroup]="formRegister" (ngSubmit)="nextStep()" class="w-full grid grid-cols-1 md:grid-cols-2 gap-1">
            <div class="mb-2">
                <label for="ci" class="block text-sm font-medium text-gray-700">Cédula</label>
                <input type="text" id="ci" formControlName="ci" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="name" class="block text-sm font-medium text-gray-700">Nombres</label>
                <input type="text" id="name" formControlName="name" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="last_name" class="block text-sm font-medium text-gray-700">Apellidos</label>
                <input type="text" id="last_name" formControlName="last_name" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2 col-span-1 md:col-span-2">
                <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" id="email" formControlName="email" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2 ">
                <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" id="password" formControlName="password" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2 ">
                <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
                <input type="text" id="phone" formControlName="phone" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="address" class="block text-sm font-medium text-gray-700">Dirección</label>
                <input type="text" id="address" formControlName="address" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="birth_date" class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
                <input type="date" id="birth_date" formControlName="birth_date" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="gender" class="block text-sm font-medium text-gray-700">Género</label>
                <select id="gender" formControlName="gender" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
                    <option value="" disabled selected>Seleccione un género</option>
                    <option *ngFor="let gender of genderOptions" [value]="gender.id">{{ gender.name }}</option>
                </select>
            </div>
            <div class="col-span-1 md:col-span-2 flex justify-end">
                <button type="submit"
                    class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 sm:text-sm">
                    Siguiente
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="currentStep === 2" class="w-full">
        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">Información Laboral</h3>
        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-2">
                <label for="company" class="block text-sm font-medium text-gray-700">Empresa</label>
                <input type="text" id="company" formControlName="company" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="company_phone" class="block text-sm font-medium text-gray-700">Teléfono de la
                    Empresa</label>
                <input type="text" id="company_phone" formControlName="company_phone" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="mb-2">
                <label for="company_address" class="block text-sm font-medium text-gray-700">Dirección de la
                    Empresa</label>
                <input type="text" id="company_address" formControlName="company_address" required
                    class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50">
            </div>
            <div class="col-span-1 md:col-span-2 flex justify-end">
                <button type="button" (click)="previousStep()"
                    class="mr-2 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                    Anterior
                </button>
                <button type="submit"
                    class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-500 text-base font-medium text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 sm:text-sm">
                    Registrar
                </button>
            </div>
        </form>
    </div>
</div>