<app-template-auth>
    <div data-title>
        <p class="font-serif text-3xl text-darkGray">Iniciar sesión</p>
    </div>
    <div data-description>
        <p class="font-serif text-darkGray-500">Conectate y vive una experiencia de aprendizaje diferente</p>
    </div>
    <div data-component>
        <app-form-login></app-form-login>
        <button type="button" (click)="navigateToRegister()"
            class="w-full bg-mainBackground text-primary border-primary border mt-5 py-2 px-4 rounded-lg hover:bg-quaternary focus:outline-none focus:bg-primary-hover">
        Registrarse
    </button>
    </div>
</app-template-auth>