<app-template-auth>
    <div data-title>
        <p class="font-serif text-3xl text-darkGray">Regístrate</p>
    </div>
    <div data-description>
        <p class="font-serif text-darkGray-500">Ten el seguimiento total de tus hijos en un solo lugar</p>
    </div>
    <div data-component>
        <app-form-register></app-form-register>
        <button type="submit"
            class="w-full bg-mainBackground text-primary border-primary border mt-5 py-2 px-4 rounded-lg hover:bg-quaternary focus:outline-none focus:bg-primary-hover">
        Iniciar Sesión
    </button>
    </div>
</app-template-auth>